# Ignorar entorno virtual
venv/

# Ignorar caché de Python
__pycache__/
*.pyc

# Ignorar base de datos local
*.db

# Ignorar archivos de Excel, CSV, backups locales
*.xlsx
*.csv

# Ignorar configuraciones locales
.env
.DS_Store

# Ignorar logs temporales
*.log